@media only screen and (max-width: 200px) {
    #paginaFlexContainer {
        display: none;
    }
}
@media only screen and (min-width: 200px) {
    #paginaFlexContainer {
        display: flex;
    }
    .gridHeader {
        overflow: hidden;
        display: grid;
        grid-template-columns: [pagina-start linksHeader-start] 3fr [linksHeader-end centerHeader-start] 
         6fr [centerHeader-end rechtsHeader-start] 3fr [rechtsHeader-end pagina-end];
        grid-template-rows: repeat(auto);
        grid-gap: 5px;
        align-items: center;
    }
    .gridFooter {
        display: grid;
        grid-template-columns: [pagina-start linksFooter-start] 3fr [linksFooter-end centerFooter-start] 
         3fr [centerFooter-end rechtsFooter-start] 3fr [rechtsFooter-end pagina-end];
        grid-template-rows: auto;
        grid-gap: 5px;
    }
    .linksGridHeader {
        display: none;
    }
    .centerGridHeader {
        grid-column: pagina;
    }
    .rechtsGridHeader {
        display: none;
    }
    .mobielButtonsHeader {
        grid-column: pagina;
        grid-row: 2/2;
        text-align: center;
    }
    .linksGridFooter {
        grid-column: pagina;
        grid-row: 1/1;
    }
    .centerGridFooter {
        grid-column: pagina;
        grid-row: 2/2;
    }
    .rechtsGridFooter {
        grid-column: pagina;
        grid-row: 3/3;
    }
    .navGridContainer {
        overflow: hidden;
        display: grid;
        grid-template-columns: [linksNav-start] 1fr [linksNav-end centerNav-start] 
         10fr [centerNav-end rechtsNav-start] 1fr [rechtsNav-end];
        grid-template-rows: auto;
        grid-gap: 2px;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .linksGridNav {
        grid-column: linksNav;  
    }
    .centerGridNav {
        grid-column: centerNav;
    }
    .rechtsGridNav {
        grid-column: rechtsNav;
    }
    .homeOnderwerpenGridContainer {
        margin: 0px auto;
        max-width: 900px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    }
    .homeOnderwerpenFlexContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .linkOnderwerpenPage {
        font-size: 1em;
    }
}
@media only screen and (min-width: 600px) {
    .homeOnderwerpenGridContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@media only screen and (min-width: 610px) {
    #rechtsNavButtonId {
        display: none;
    }
}
@media only screen and (min-width: 800px) {
    .linkOnderwerpenPage {
        font-size: 1.3em;
    }
}