* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(30, 30, 30);
    background-image: url(../Afbeeldingen/logo/LogoIdeeenbusWit.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 100vh;
    background-position-y: center;
}